* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "popins", sans-serif;
  color: black;
  /* text-align: center; */
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.container {
  text-align: center;
  width: 560px;
  height: 260px;
  background: #ff4;
  border-radius: 20px;
  padding: 15px;
}

p {
  text-align: right;
  padding: 10px;
}

#quote {
  padding: 10px;
}

button {
  margin-top: 15px;
  font-size: large;
  width: 60px;
  padding: 10px;
  cursor: pointer;
}
.loader {
  width: 100px;
  height: 100px;
  /* Center the loader on the page */
  margin: 10px auto;
  /* Make the loader a circle */
  border-radius: 50%;
  /* Set the border size, style, and color */
  border: 16px solid lightgray;
  /* Set the border color of the loader itself */
  border-top-color: green;
  /* Animate the loader */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
